body {
    font-family: Arial, sans-serif;
    background-image: 
        radial-gradient(at 30% 30%, hsla(46, 95%, 65%, 1) 0px, transparent 50%),
        radial-gradient(at 70% 30%, hsla(168, 85%, 65%, 1) 0px, transparent 50%),
        radial-gradient(at 30% 70%, hsla(290, 85%, 65%, 1) 0px, transparent 50%),
        radial-gradient(at 70% 70%, hsla(12, 85%, 65%, 1) 0px, transparent 50%);
}

h1 {
    text-align: center;
    color: #333;
}

form {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

fieldset {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

legend {
    font-weight: bold;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="date"],
textarea {
    width: 100%;
    padding: 5px;
    padding-right: 0px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #ff6347;
    color:#ff6347;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
